<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agenda de Compromissos</title>
</head>
<body>
    <h1>Login</h1>
    <form action="submit" method="post"> {% csrf_token %}
    <div align="center">
        <p>
            <label>Usuário: </label>
            <input type="text" name="usuario">
        </p>
        <p>
            <label>Senha: </label>
            <input type="password" name="senha">
        </p>
        <button type="submit">Entrar</button>
    </div>
    </form>

    {% for message in messages %}
        <div align="center">
            <strong> Erro!!! </strong>{{ message }}
        </div>
    {% endfor %}

</body>
</html>